* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-style: url(../assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(../assets/MoonStars.svg);
}

.light {
    --text-color: black;
    --bg-style: url(../assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.1);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(../assets/Sun.svg)
}

.light #switch button {
    animation: slide-in 0.2s forwards; /*animação criada por keyframes*/
}

body {
    /*
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */

    /*background: color image repeat position/size */
    background: var(--bg-style) no-repeat top 
    center/cover;
    height: 100vh;
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;       
    padding: 0 24px;
}

/*links */
ul {
    list-style: none; /*para tirar os pontos que ficam a esquerda*/

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px 0;
}

ul li a {
    /*se removermos esse display ele pega o espaço apenas do que digitou */

    display: flex;
    justify-content: center;
    padding: 16px 24px;

    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px); /*o blur da uma embaçada*/
    -webkit-backdrop-filter: blur(4px); /*pegando no site alguns navegadores exigem o webkit*/
   
    /*estilizando as letras referenciando pela fonte Inter que importamos no html*/
    text-decoration: none; /*tira o sublinhado das letras*/
    font-weight: none;

    transition: background 0.2s;
}

ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

/* media queries*/
/* @media (min-width: 700px) {
    :root {
        --bg-style: url(../assets/bg-desktop.jpg);
    }

    .light {
        --bg-style: url(../assets/bg-desktop-light.jpg);
    }
} */

@media (max-width: 768px) {
    /* :root {
        --bg-style: url(../assets/bg-desktop.jpg);
    }

    .light {
        --bg-style: url(../assets/bg-desktop-light.jpg);
    } */
    body {
        background: #3B193F; /* Use uma cor de fundo sólida em telas menores */
    }

    .text {
        padding: 10px; /* Ajuste o espaçamento interno para telas menores */
    }

    .gif {
        display: flex;
        justify-content: center;
        margin-top: 20px; /* Ajuste a margem conforme necessário */
    }
    
    .gif img {
        width: 70%; /* Defina o tamanho desejado (30%) */
        max-width: 100%; /* Certifique-se de que não ultrapasse a largura do contêiner */
    }
    
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.working {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.topicos {
    display: flex;
    justify-content: center;
}

.text {
    display: flex;
    justify-content: center;
    padding-top: 100px; 
    padding-bottom: 20px;
    padding-left: 20%;
    padding-right: 20%;
}

.gif {
    display: flex;
    justify-content: center;
}